<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadasrtro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    

</head>
<body>
    
        <div class="container">
            <h1>Cadastro</h1>
    
            <div class="form-container">
                <h2>Adicionar um novo setor</h2>
                <form action="/novo_setor" method="post">
                    <label for="nome">Nome do Setor:</label>
                    <input type="text" name="nome" required>
                    <button type="submit">Adicionar Setor</button>
                </form>
            </div>
    
            <div class="form-container">
                <h2>Adicionar um novo funcionário</h2>
                <form action="/novo_funcionario" method="post">
                    <label for="primeiro_nome">Primeiro Nome:</label>
                    <input type="text" name="primeiro_nome" required>
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" name="sobrenome" required>
                    <label for="data_admissao">Data de Admissão:</label>
                    <input type="date" name="data_admissao" required>
                    <label for="status_funcionario">Status do Funcionário:</label>
                    <input type="text" name="status_funcionario" required>
                    <label for="id_setor">ID do Setor:</label>
                    <input type="text" name="id_setor" required>
                    <label for="id_cargo">ID do Cargo:</label>
                    <input type="text" name="id_cargo" required>
                    <button type="submit">Adicionar Funcionário</button>
                </form>
            </div>
        </div>
    </body>
    </html>
    

</body>
</html>